/* background defeaults to transparent b/c mystery box radnomly flashes on screen in 
    random positions, this appears to patch the bug for now */
* {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Cutive Mono', monospace;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
}
.visualizer {
  width: 100%;
  height: 100%;
  padding: 2em;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.lyrics {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  color: rgb(216, 164, 48);
  font-size: 1.5em;
  border: 24px solid transparent;
  border-image: url( img/border.png ) 33% round;
}
.printChar {
  animation: animAppear;
  animation-duration: 100ms;
  animation-iteration-count: 1;
  animation-play-state: paused;
}
@keyframes animAppear {
  from { opacity: 0; }
  to { opacity: 1; }
}
.cursor {
  animation: animBlink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  opacity: 0;
  display: inline-block;
}
@keyframes animBlink {
  0% { opacity: 0; }
  27% { opacity: 1; }
  54% { opacity: 1; }
  81% { opacity: 0; }
}
.break {
  display: block;
  content: "";
  height: 30px;
}
.credits-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  border: 24px solid transparent;
  border-image: url( img/border2.png ) 33% round;
  overflow: hidden;
}
.credits {
  position: absolute;
  display: table-cell;
  width: calc( 100% - 20px );
  bottom: 0;
  right: 0;
  text-align: left;
  vertical-align: bottom;
  font-size: 1.4em;
  line-height: 30px;
  color: rgb(216, 164, 48);
}
.graphic-wrap {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
  width: 100%;
  text-align: center;
}
.graphic {
  padding-top: 28px;
  margin-left: 20%;
  text-align: left;
  color: rgb(216, 164, 48);
  font-size: 1.4em;
  letter-spacing: -0.3m;
  line-height: 1em;
  display: none;
}
.thanks {
  position: absolute;
  left: 60px;
  bottom: 60px;
  color: rgb(216, 164, 48);
  visibility: hidden;
}

/* overlay */
#overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}
#overlay .overlay-button {
  padding: 1em 2em;
  background-color: orange;
  border: 2px solid darkorange;
  color: white;
  cursor: pointer;
  pointer-events: none;
  font-family: Verdana;
  font-size: 1.2rem;
}
#overlay .overlay-button:hover {
  background-color: darkorange;
  border-color: white;
}

body.ready #overlay .overlay-button {
  pointer-events: auto;
}
body.play #overlay {
  display: none;
}

